src/botflix.json
{
  "name": "botflix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "botflix",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "4c46e809-52f2-439d-98ac-f0184089c549",
      "name": "Webhook",
      "webhookId": "36e19c4c-6374-4e14-9055-305cb26c06d9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.userPrompt }}",
        "options": {
          "systemMessage": "Você é um assistente especializado em indicar filmes e séries reais e atuais.\n\nQuando o usuário pedir uma recomendação, você deve buscar mentalmente 1 filme que existam de verdade e que se encaixem na categoria solicitada.\n\nRegras:\n\n- Não invente nomes de filmes.\n- Priorize títulos populares e bem avaliados.\n- Retorne somente 1 filme por vez.\n\nFORMATO DE RESPOSTA OBRIGATÓRIO:\nResponda SOMENTE com este JSON (sem texto adicional):\n{\"title\": \"TÍTULO EXATO DO FILME\",\"type\": \"DIZER SE É FILME OU SERIE\"}\n\nREGRAS CRÍTICAS:\n\n- SEM texto antes ou depois do JSON\n- SEM explicações ou comentários\n- SEM backticks ou markdown\n- SEM a palavra \"output\"\n- APENAS o array JSON válido"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        -16
      ],
      "id": "2ed2f6c9-4671-42af-94af-6475b1a9366e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "7c3300ad-4238-4d0a-be03-8714e78bdf68",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SVA5sa5gprSZz3ZM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/movie",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{JSON.parse($json.output).title}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        0
      ],
      "id": "6470c140-3b66-4423-9a08-ebfc820c01d1",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "TjL9G4JtyeZ4rfQg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        -32
      ],
      "id": "1105cd35-cf16-4731-b6c9-4b273ab34b6a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/tv",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{JSON.parse($json.output).title}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -176
      ],
      "id": "71384261-9b32-4f47-a925-d7032bf93501",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "TjL9G4JtyeZ4rfQg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27fcb9b9-442b-49ed-ac60-a5d21f26a9de",
              "leftValue": "={{JSON.parse($json.output).type.toLowerCase()}}",
              "rightValue": "serie",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -32
      ],
      "id": "9ca7b71e-e894-4cd4-ad2c-02ff29354431",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a380bc53-ce17-46ac-8767-1c65cac38f42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e08b4cf006e043320c429ea1612b5e77e11c685c971d065a0aedecc809e7063"
  },
  "id": "B2og5es8fn5L9Xw5",
  "tags": [
    {
      "createdAt": "2025-09-07T18:05:54.519Z",
      "updatedAt": "2025-09-07T18:05:54.519Z",
      "id": "C1HCmuwLyMJZnwad",
      "name": "botflix"
    }
  ]
}